.sidebar{
    width: 15%;
    float: left;
    height:100%;
    left: 0px;
    position: fixed;
    background-color: brown;
}
.content{
    width: 83%;
    float: right;
    height: 100%;
    position: relative;
    /* background-color: aquamarine; */
}
nav{
    width: 100%;
    position: relative;
    top: 0%;
    float: left;
    height: 100%;
    background-color: blueviolet;
}
.navul{
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 0px;
    margin-top:0px;
    position: relative;
    list-style-type: none;
    background-color: aqua;
    height: 100%;
}
.navul li{
    background-color: #3affc4;
    width: 90%;
    height: 25px;
    padding: 4px;
    border: solid 1.5px blueviolet;
    margin: auto;
    /* margin-top: 8px; */
    vertical-align: middle;
    font-size: 1.3em;
    margin-top: 4px;
    border-radius: 4px;
}
.navul li:hover{
    background-color:#ffffff80;
    font-size: 1.2em;
}
a{
    text-decoration: none;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    color: green;
}
