.sidebar{
    width: 15%;
    float: left;
    height: 920px;
    left: 0px;
    position: relative;
    background-color: brown;
}
.content{
    width: 85%;
    float: right;
    height: 100%;
    position: relative;
    /* background-color: aquamarine; */
}
nav{
    width: 100%;
    position: relative;;
    top: 0%;
    float: left;
    height: 100%;
    background-color: blueviolet;
}
.navul{
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 0px;
    margin-top:0px;
    position: relative;
    list-style-type: none;
    background-color: aqua;
    height: 100%;
}
.navul li{
    background-color: burlywood;
    width: 90%;
    height: 25px;
    padding: 4px;
    border: solid 1px blueviolet;
    margin: auto;
    /* margin-top: 8px; */
    vertical-align: middle;
    font-size: 1em;
    margin-top: 6px;
}
.navul li:hover{
    background-color: hotpink;
    font-size: 1.1em;
}
a{
    text-decoration: none;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    color: green;
    padding-left: 10%;
}
