<br><div class="add">
    <h2 align="center">Perform Basic Arithmatic Operations Here</h2>
</div>
<br><br>
<div class="add">
    <table>
        <tr><h3>Add and Substract 2 Numbers</h3></tr>
        <tr>
            <td>Enter First Number:</td>
            <td><input type="number" [(ngModel)]="num1"></td>
        </tr>
        <tr>
            <td>Enter Second Number:</td>
            <td><input type="number"[(ngModel)]="num2"></td>
        </tr>
        <tr>
            <td><button (click)="add()">Add</button></td>
            <td><button (click)="subs()">Substract</button></td>
        </tr>
        <tr><h3 >{{result}}</h3></tr>
    </table>
</div>
<br><br>
<div class="add">
    <table>
        <tr><h3>Perform Multiple Operations</h3></tr>
        <tr>
            <td>Enter First Number:</td>
            <td><input type="number" [(ngModel)]="num1"></td>
        </tr>
        <tr>
            <td>Enter Second Number:</td>
            <td><input type="number"[(ngModel)]="num2"></td>
        </tr>
        <tr>
            <td >Select Operation </td>
            <td>
                <select name="Operation" [(ngModel)]="op" required="required">
                <option>Add</option>
                <option>Substract</option>
                <option>Multiply</option> 
                <option>Divide</option>                
            </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><button (click)="arith()">Check Result</button></td>
        </tr>
        <tr><h3 style="margin-left: 40px;" >{{result2}}</h3></tr>
    </table>
</div>