.add{
    background-color: aqua;
    width: 95%;
    position: relative;
    margin: auto;
    border:solid 2px blueviolet;
    border-radius: 8px;
    white-space: pre-line;
}
table
{
    margin-left: 10px;
}
td{
    position: relative;
    padding-left: 50px;
    margin-left: 40px;
}
