<div class="add">
    <table>
        <tr><h3>We will add numbers</h3></tr>
        <tr>
            <td>Enter First Number:</td>
            <td><input type="number" [(ngModel)]="num1"></td>
        </tr>
        <tr>
            <td>Enter Second Number:</td>
            <td><input type="number"[(ngModel)]="num2"></td>
        </tr>
        <tr>
            <td><button (click)="add()">Add</button></td>
            <td><button (click)="subs()">Substract</button></td>
        </tr>
        <tr><h3 >{{sum}} {{diff}}</h3></tr>
    </table>
</div>
<br><br>
<div class="add">
    <table>
        <tr><h3>Perform Multiple Operations</h3></tr>
        <tr>
            <td>Enter First Number:</td>
            <td><input type="number" [(ngModel)]="num1"></td>
        </tr>
        <tr>
            <td>Enter Second Number:</td>
            <td><input type="number"[(ngModel)]="num2"></td>
        </tr>
        <tr>
            <td align="right">Select Operation </td>
            <td>
                <select name="Operation" [(ngModel)]="op" required="required">
                <option>Add</option>
                <option>Substract</option>
                <option>Multiply</option>                
            </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><button (click)="arith()">Check Result</button></td>
        </tr>
        <tr><h3 >{{sum}} {{diff}} {{product}} </h3></tr>
    </table>
</div>