html{
    padding: 0px;
    margin: 0px;
}
body{
    padding: 0px;
    margin: 0px;
}
.add{
    background-color: aqua;
    width: 95%;
    position: relative;
    margin: auto;
    border:solid 2px blueviolet;
    border-radius: 8px;
}
table
{
    margin-left: 30px;
}
td{
    position: relative;
    padding-left: 50px;
    margin-left: 40px;
}
